body {
  text-align: center;
}

.hero {
  margin: 60px auto 48px;
  max-width: 100%;
}

.header {
  margin: 0 auto;
  text-align: center;
}

.expositions-block {
  margin: 0 auto 60px;
  display: inline-block;
  padding: 0 32px;
  max-width: 100%;
}

.expositions-list {
  text-align: left;
  padding: 10px 0px;
}