* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 18px;
  line-height: 27px;
}

body {
  max-width: 1920px;
  overflow-x: hidden;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  font-family: 'Verdana, Arial', sans-serif;
  color: #EDE8E3;
  background-color: #1E1E1E;
  overflow-wrap: break-word;
  word-break: break-word;
}

h1,
h2,
h3,
span,
a {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 2.5rem;
  text-transform: uppercase;
}

h2 {
  font-size: 1.75rem;
  font-weight: 700;
  line-height: 2.625rem;
  text-transform: uppercase;
}

h3 {
  font-size: 2.074rem;
  font-weight: 700;
  line-height: 2.625rem;
  text-transform: uppercase;
}

p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.688rem;
}

a {
  text-decoration: none;
  line-height: 1.5rem;
  color: #EDE8E3;
  cursor: pointer;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
}

span {
  font-size: 1.438rem;
  font-weight: 400;
  line-height: 2.156rem;
  text-transform: lowercase;
}

ul {
  list-style-type: none;
}

img {
  -webkit-transform: scale(1);
  /* Préfixe pour Chrome, Safari */
  -moz-transform: scale(1);
  /* Préfixe pour Firefox */
  -ms-transform: scale(1);
  /* Préfixe pour IE */
  transform: scale(1);
  /* Propriété standard */
}

img,
video,
iframe {
  max-width: 100%;
  height: auto;
}

/* footer */

footer {
  background-color: #EDE8E3;
  color: #1E1E1E;
  font-size: 1rem;
  letter-spacing: 0.00938em;
}

footer a {
  color: #1E1E1E;
}

.content-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
  padding-top: 20px;
}

.content-info .contact-info {
  display: flex;
  min-width: 300px;
}

.content-info .contact-info .content {
  text-align: center;
}

.content-info .contact-info .content .follow-link {
  display: flex;
  -moz-box-pack: center;
  -moz-box-align: center;
  margin-bottom: 40px;
  min-width: 300px;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-size: 15px;
}

.content-info .content-info-list {
  display: flex;
  flex-direction: column;
  justify-content: left;
  /* margin: auto; */
  font-size: medium;
  font-weight: 400;
  padding: 10px 0;
}

.content-info .conten-info-list li {
  padding: 4px 0;
}

.content-info .conten-info-list a {
  text-decoration: underline;
}

.content-info .conten-info-list p {
  font-size: 14px;
  text-align: right;
}

@media screen and (min-width: 991px) {
  h1 {
    font-size: 2.986rem;
  }

  h2 {
    font-size: 2rem;
  }
}