h2 {
  font-size: 1.5rem;
  text-align: center;
}

.hero {
  margin: 48px auto 0px;
  max-width: 100%;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
}

.header .intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70vw;
  gap: 30px;
}

.header .intro h1 {
  margin-bottom: 20px;
}

.product-header {
  margin: 100px auto 60px;
}

.gallery-grid {
  grid-template-columns: repeat(3, 1fr);
  gap: 6px;
  overflow-y: auto;
  list-style: none;
  margin: 0 auto 20px;
  padding: 0px;
  max-width: 1280px;
  display: grid;
}

@media screen and (min-width: 1260px) {
  .header {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
  }

  .header .intro {
    width: 30vw;
  }

  .gallery-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (min-width: 991px) {
  .header {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
  }

  .header .intro {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 30vw;
  }

  .gallery-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}